<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community</title>
</head>
<body>

    <div th:fragment="fragment-body-menu">
        <div>
            <a href="/">홈</a>
            |
            <a href="/user/register">회원가입</a>
            |
            <a href="/user/register_admin">관리자 회원가입</a>
            |
            <a href="/user/login">로그인</a>
            |
            <a href="/user/logout">로그아웃</a>
        </div>
        <hr/>
    </div>

</body>
</html>
